@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  user-select: none;
  font-family: "Outfit", sans-serif;
}

::-webkit-scrollbar {
  display: none !important;
}

.ant-menu-item-selected {
  background-color: transparent !important;
  color: rgb(0, 45, 71) !important;
  font-weight: 700 !important;
}

.active {
  color: rgb(112, 115, 255) !important;
}

.ant-select-selector {
  padding-left: 0;
}


.ant-menu-sub .ant-menu-inline {
  background: rgb(0, 45, 71) !important;
}

.ant-menu-submenu {
  background: rgb(0, 45, 71);
}

.ant-pagination-item a {
  background: rgb(255, 255, 255);
  color: white !important;
  border: none !important;
}

#navbar {
  background: rgb(0, 45, 71);
}
.ant-menu-submenu-title {
  color: rgb(255, 255, 255) !important;
}

.ant-menu-inline {
  padding: 5px 0 5px 0 !important;
  font-size: 18px !important;
  border: none !important;
}

.ant-menu-item {
  height: 40px !important;
}

@media (max-width: 1180px) {
  .ant-menu-item {
    height: 32px !important;
  }
}

.ant-menu-submenu-selected > .ant-menu-submenu-title {
  font-weight: 700 !important;
  color: rgb(0, 45, 71) !important;
  background: white !important;
}

.ant-menu-submenu-title {
  background: rgb(0, 45, 71);
  color: rgb(255, 255, 255) !important;
}



.ant-menu-light {
  background: rgb(0, 45, 71);
  color: white !important;
}

.ant-form-item-label > label {
  color: rgb(0, 45, 71) !important;
  /* background: rgb(19, 16, 174) !important; */
}

.ant-menu-submenu-arrow {
  padding-top: 4px !important;
}

:root {
  --primary-color: rgb(0, 45, 71);
  --secondary-color: rgb(0, 45, 71);
  --third-color: #9215f9;
}

.ant-modal-content {
  background-color: var(--primary-color) !important;
}

.ant-btn-primary {
  background: rgb(0, 45, 71) !important;
  color: rgb(0, 45, 71) !important;
}

.ant-btn-primary:hover {
  background: rgb(255, 255, 255) !important;
  color: rgb(255, 255, 255) !important;
}



:where(.css-dev-only-do-not-override-14wwjjs).ant-pagination .ant-pagination-item-active{
  border: none !important;
}

#btn{
  background: rgb(0, 45, 71) ;
}

.ant-menu-inline {
  background: rgb(0, 45, 71);
}





#text-color{
  color: rgb(0, 45, 71) !important;
}

