@tailwind base;
@tailwind components;
@tailwind utilities;


.ant-menu-item-selected{
    background-color: rgb(101, 242, 8) !important;
    color: white !important;
    font-weight: bold !important;
    
  }
  
  .ant-menu-inline{
  padding: 20px 0 20px 0 !important;
  font-size: 18px !important;
  }
  
  
  .ant-menu-item{
    height: 50px !important;
  }
  
  .ant-menu-submenu-selected >.ant-menu-submenu-title{
    font-weight: bold !important;
    background-color: rgb(204, 236, 242) !important;
   
    color: rgb(101, 242, 8) !important;
  }